
* {
  font-family: 'Open Sans', sans-serif;
}

body {
   text-align: center;
}

h1 {
 color: #2B4E80;
 text-align: center;
}

main {
 align-items: center;
 display: flex;
 justify-content: center;
 margin: 0 auto;
 width: 510px;
}

.left-box {
  align-items: center;
  background-color: #E6ECF4;
  display: flex;
  flex-direction: column;
  height: 260px;
  margin: 0 20px 0 0;
  width: 400px;
}

#text-box {
 border: none;
 font-size: 18px;
 margin: 10px 0 4px 0;
 text-align: center;
 width: 275px;
}

#submit-button {
 background-color: #607AA0;
 border: none;
 color: #FFFFFF;
 font-size: 16px;
 height: 30px;
 margin: 6px;
 width: 275px;
}

#submit-button:hover {
  background-color: #1C3455;
}

.eight-ball-img {
  margin: 20px 0;
  width: 75px;
}

.question-asked {
  display: none;
  font-style: italic;
  text-align: center;
}

.response {
  display: none;
  font-weight: bold;  
}

.clear-button {
  background-color: #D0CDCD;
  border: none;
  color: #FFFFFF;
  margin: 35px 0 0 250px;
}

.enable-button {
  background-color: #DE4841;
}

.show-text {
  display: block;
}

.hide-img {
  display: none;
}
